<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.mycs.service.member.server.persistence.dao.MemberIdentityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.mycs.service.member.server.persistence.model.MemberIdentity">
        <id column="member_identity_id" property="memberIdentityId" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="member_type_id" property="memberTypeId" />
        <result column="title" property="title" />
        <result column="rights_desc" property="rightsDesc" />
        <result column="is_commission" property="isCommission" />
        <result column="commission_id" property="commissionId" />
        <result column="commission_explanation" property="commissionExplanation" />
        <result column="status" property="status" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        member_identity_id , create_by , create_time , update_by , update_time , member_type_id , title, rights_desc , is_commission , commission_id , commission_explanation , status
    </sql>
    <select id="selectByMemberType" resultMap="BaseResultMap">
      SELECT <include refid="Base_Column_List"/> FROM member_identity WHERE member_type_id = #{memberTypeId} and status =1 order by create_time
    </select>


</mapper>
