<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.mycs.service.member.server.persistence.dao.MemberMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.mycs.service.member.server.persistence.model.Member">
        <id column="member_id" property="memberId" />
        <result column="member_identity_id" property="memberIdentityId" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="uid" property="uid" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        member_id, member_identity_id, create_by, create_time, update_by, update_time, uid, start_time, end_time
    </sql>

    <select id="selectByUid" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/> FROM member m WHERE  m.uid = #{uid}
    </select>

</mapper>
